<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <bean id="dataSource" class="br.gov.inep.censo.spring.datasource.ConnectionFactoryDataSource"/>

    <bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="showSql" value="false"/>
        <property name="generateDdl" value="false"/>
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
        <property name="packagesToScan" value="br.gov.inep.censo.model"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.show_sql">false</prop>
                <prop key="hibernate.format_sql">false</prop>
                <prop key="hibernate.use_sql_comments">false</prop>
                <prop key="hibernate.jdbc.batch_size">25</prop>
                <prop key="hibernate.order_inserts">true</prop>
                <prop key="hibernate.order_updates">true</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <jpa:repositories base-package="br.gov.inep.censo.repository"
                      entity-manager-factory-ref="entityManagerFactory"
                      transaction-manager-ref="transactionManager"/>

    <bean id="alunoService" class="br.gov.inep.censo.service.AlunoService">
        <constructor-arg>
            <bean class="br.gov.inep.censo.dao.AlunoDAO"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="br.gov.inep.censo.dao.LayoutCampoDAO"/>
        </constructor-arg>
        <constructor-arg ref="alunoRepository"/>
    </bean>

    <bean id="cursoService" class="br.gov.inep.censo.service.CursoService">
        <constructor-arg>
            <bean class="br.gov.inep.censo.dao.CursoDAO"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="br.gov.inep.censo.dao.LayoutCampoDAO"/>
        </constructor-arg>
        <constructor-arg ref="cursoRepository"/>
    </bean>

    <bean id="docenteService" class="br.gov.inep.censo.service.DocenteService">
        <constructor-arg>
            <bean class="br.gov.inep.censo.dao.DocenteDAO"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="br.gov.inep.censo.dao.LayoutCampoDAO"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="br.gov.inep.censo.dao.MunicipioDAO"/>
        </constructor-arg>
        <constructor-arg ref="docenteRepository"/>
    </bean>

    <bean id="iesService" class="br.gov.inep.censo.service.IesService">
        <constructor-arg>
            <bean class="br.gov.inep.censo.dao.IesDAO"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="br.gov.inep.censo.dao.LayoutCampoDAO"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="br.gov.inep.censo.dao.MunicipioDAO"/>
        </constructor-arg>
        <constructor-arg ref="iesRepository"/>
    </bean>
</beans>
